@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  // ******* nav menu *******
  .menu__links,
  .menu__login,
  .logo_text {
    display: none;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__menu_mobile {
    display: block;
  }

  .nav__burger {
    display: block;
    width: 100%;
    position: relative;
    z-index: 6;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      background-color: $white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      position: absolute;
      background-color: $white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span {
        transform: scale(0);
      }
    }
  }
  // ******* nav menu end *******
  .tools__top {
    grid-template-columns: 1fr 250px 1fr;
  }
  .tools__text {
    font-size: 1.4rem;
  }
  .p-center {
    width: 90%;
  }
  .tools__items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .item__card {
    img {
      max-width: 300px;
      height: 100%;
    }
  }
  .card__container {
    img {
      max-width: 50%;
      height: 50%;
      align-self: center;
    }
  }
  .btn-green {
    margin-top: 0px;
    padding: 10px 10px;
    font-size: 0.6rem;
    text-align: center;
  }
  .card__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    p {
      margin: 5px 0;
      line-height: 15px;
      font-size: 0.8rem;
    }
  }
  input[type="radio"] + label {
    font-size: 0.8rem;
  }
  .card__inputs {
    margin: 10px 0;
    input {
      max-width: 50%;
    }
  }
  .card__select {
    margin-bottom: 10px;
  }

  // possibility
  .possibility {
    background-position: center;
  }
  .possibility__content {
    width: 90%;
  }
  h2 {
    width: 90%;
    font-size: 3rem;
    font-weight: 400;
    margin: 10px 0;
  }

  // features
  .features__container {
    padding: 20px 5px;
    * {
      &::before {
        content: none !important;
      }
    }
  }

  .features__title {
    margin: 0 auto;
    width: 90%;
    h2 {
      width: 100%;
      font-size: 2.5rem;
    }
    p {
      width: 100%;
    }
  }
  .features__item {
    flex-direction: column !important;
    margin: 50px 0;
    .features__item_img,
    p {
      width: 90%;
    }
    .features__item_img {
      background-color: transparent;
      img {
        &:hover {
          transform: translate3d(0, 0, 0) !important;
        }
      }
    }
  }
  .swiper-container {
    width: 100%;
  }
  .yoga {
    text-align: center;
  }

  // startPoint

  .startPoint__container {
    padding: 10px 20px;
  }
  .startPoint_title {
    margin: 20px 0;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
      width: 100%;
    }
  }

  //how
  .howStart__container {
    flex-direction: column;
    padding: 30px 20px;
  }
  .howStart__title {
    h2 {
      font-size: 2.5rem;
      width: 100%;
      margin: 35px 0;
    }
    a {
      margin-left: 20px;
    }
  }

  // price

  .price__container {
    padding: 20px 10px;
  }
  .price__title {
    h2 {
      font-size: 2.5rem;
    }
    p {
      width: 100%;
    }
  }
  table {
    tr {
      :first-child {
        font-size: 0.8rem;
        & ~ th {
          font-size: 1rem;
          line-height: 20px;
          span.blue {
            font-size: 0.7em;
          }
        }
      }
    }
  }
  .price__plan {
    padding: 30px 5px 0px;
  }
  .plan__title {
    h2 {
      font-size: 2rem;
    }
    .plan__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .plan-list {
    padding: 0;
    margin: 20px 0;
  }

  // support

  .support {
    h2 {
      width: 100%;
    }
  }
  .question__items {
    padding: 0 10px;
    width: 100%;
  }
  .item-question {
    &::before {
      left: 92%;
    }
  }
}

@media (max-width: 310px) {
  .price__table {
    display: none;
  }
}
