@media (max-width: 768px) {
  .menu__links,
  .menu__login,
  .nav__logo a {
    display: none;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__menu_mobile {
    display: block;
  }

  .nav__burger {
    display: block;
    width: 100%;
    position: relative;
    z-index: 3;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      background-color: $white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      position: absolute;
      background-color: $white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span {
        transform: scale(0);
      }
    }
  }
}
