@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&family=Monda&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap");
$black: #131313;
$white: #f6eded;
$green: #2d6a4f;
$hover-green: #18ad6a;
$ligth-gray: #eeecec;
$brown: #6a5353;
$table-gray: #c4c4c4;
$blue: #3586d1;
$mitr: "Mitr", sans-serif;
$monda: "Monda", sans-serif;
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
