@import url(./normalize.css);
@import "_variables";

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

header,
section,
footer {
  padding: 0 calc(50% - 800px);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $white;
  font-family: $mitr;
  font-weight: 400;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  &:hover {
    color: $hover-green;
    &::before {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $hover-green;
    }
  }
  &.logo {
    z-index: 5;
    &:hover {
      color: $white;
      &::before {
        content: none;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 25px;
    z-index: 5;
  }
  a {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 1.2em;
  }
}

ul {
  list-style: none;
}
header {
  background: url(../img/intro_bg.webp) no-repeat;
  background-position: top 60% left 10%;
  background-size: cover;
}

.header {
  color: $white;
  &::before {
    position: absolute;
    content: "";
    background-color: $black;
    height: 75px;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.header__nav {
  z-index: 3;
  position: relative;
  background-color: $black;
  text-transform: uppercase;
  height: 75px;
  padding: 0 30px;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.menu__links {
  justify-self: center;
  width: 100%;
  max-width: 410px;
}

.list-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 5px;
  a {
    &:hover {
      &::before {
        bottom: 0px;
      }
    }
  }
}
.menu__login {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 240px;
  :hover {
    &::before {
      content: none;
    }
  }
}

.btn_white {
  background-color: $white;
  color: $black;
  padding: 10px 15px;
  &:hover {
    background-color: $green;
    color: $white;
    &::before {
      content: none;
    }
  }
}

.nav__menu_mobile {
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: $black;
  padding: 70px 0 0 0;
  transition: all 0.3s ease;
  overflow: auto;
  &.active {
    left: 0;
  }
  .list-menu {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    .menu-item {
      margin: 15px 0;
    }
  }
}

.nav__burger {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-family: $montserrat;
  font-weight: 600;
  margin: 20px 0;
  font-size: 2.8rem;
}

.intro {
  height: 720px;
}
.intro__info {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5%;
}
.info__links {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 20px;
  :first-child {
    margin-right: 40px;
  }
}
.info__content {
  margin-left: 5%;
  p {
    margin: 45px 0 60px;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 1rem;
  }
  .btn_white {
    border-radius: 5px;
    text-transform: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}

.tools {
  background-color: $ligth-gray;
}
.tools__container {
  padding: 0 5%;
}
.tools__top a {
  color: $black;
  &:hover {
    color: $black;
    &::before {
      content: none;
    }
  }
}

.tools__top {
  padding: 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.tools__logo {
  display: flex;
  .logo img {
    margin-right: 10px;
  }
  a {
    font-weight: 700;
  }
}
.tools__text {
  justify-self: center;
  font-family: $mitr;
  font-weight: 400;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.tools__text.active {
  transform: translateY(50px) scale(1.5);
}
.btn__close {
  justify-self: end;
  font-size: 1.3rem;
}

.tools__content {
  padding-top: 50px;
  display: block;
  &.hide {
    display: none;
  }
}
.p-center {
  text-align: center;
  font-family: $mitr;
  font-weight: 300;
  font-size: 1.1rem;
  width: 50%;
  margin: 10px auto;
}
h3 {
  font-family: $roboto;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 15px 0 0 0;
}
.item__desc {
  margin: 10px 0;
  font-family: $montserrat;
  font-weight: 400;
}
.tools__items {
  margin: 40px 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
.tools__item {
  margin: 0 15px;
  grid-auto-flow: row;
}
.item__card {
  max-width: 500px;
  max-height: 250px;

  font-family: $monda;
  img {
    max-height: 250px;
  }
}
.btn-green {
  display: inline-block;
  background-color: $green;
  color: $white;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 0.8rem;
  &:hover {
    background-color: $black;
    color: $green;
    &::before {
      content: none;
    }
  }
}
.card__desc {
  margin-left: 20px;
  p {
    line-height: 25px;
  }
}
.card__container {
  background-color: white;
  padding: 20px 30px;
  display: flex;
  max-height: 250px;
  max-width: 430px;
  &.card2 {
    flex-direction: column;
    padding: 30px 30px;
    span {
      display: block;
      font-size: 0.7rem;
      margin: 5px;
      color: $brown;
    }
  }
}

// change radiobutton
.card__radios {
  background-color: $ligth-gray;
  display: flex;
  justify-content: space-around;
  border-radius: 40px;
}

input[type="radio"] {
  display: none;
  margin: 10px;
}

input[type="radio"] + label {
  border-radius: 40px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: $brown;
  margin: 10px;
  padding: 4px 0;
  background-color: transparent;
  transition: all 0.3s ease;
}

input[type="radio"]:checked + label {
  color: $black;
  background-image: none;
  background-color: white;
}
// end

.card__inputs {
  display: flex;
  margin: 25px 0;
  input {
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.45);
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $black;
    }
  }
  :last-child {
    text-align: end;
  }
}

.card__select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  select {
    width: 45%;
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.45);
    &:focus {
      outline: none;
    }
  }
}
@import "max-width768";
