@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&family=Monda&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

header,
section,
footer {
  padding: 0 calc(50% - 800px);
  overflow: hidden;
}

a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #f6eded;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
}

a:hover {
  color: #18ad6a;
}

a:hover::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #18ad6a;
}

a.logo {
  z-index: 5;
}

a.logo:hover {
  color: #f6eded;
}

a.logo:hover::before {
  content: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-right: 25px;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.logo a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

ul {
  list-style: none;
}

header {
  background: url(../img/intro_bg.webp) no-repeat;
  background-position: top 60% left 10%;
  background-size: cover;
}

.header {
  color: #f6eded;
}

.header__nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #131313;
  text-transform: uppercase;
  height: 75px;
  padding: 0 30px;
  font-size: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__nav.is-scroll {
  height: 60px;
  -webkit-box-shadow: 0 2px 10px #222;
          box-shadow: 0 2px 10px #222;
}

.menu__links {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  max-width: 410px;
}

.list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 5px;
}

.menu-item a:hover::before {
  bottom: 0px;
}

.menu__login {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 240px;
}

.menu__login :hover::before {
  content: none;
}

.btn_white {
  background-color: #f6eded;
  color: #131313;
  padding: 10px 15px;
}

.btn_white:hover {
  background-color: #2d6a4f;
  color: #f6eded;
}

.btn_white:hover::before {
  content: none;
}

.nav__menu_mobile {
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #131313;
  padding: 70px 0 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: auto;
}

.nav__menu_mobile.active {
  left: 0;
}

.nav__menu_mobile .list-menu {
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu_mobile .list-menu .menu-item {
  margin: 15px 0;
}

.nav__burger {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 20px 0;
  font-size: 2.8rem;
}

.intro {
  height: 720px;
}

.intro__info {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
}

.intro__info a:hover::before {
  content: none;
}

.info__links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.info__links :first-child {
  margin-right: 40px;
}

.info__content {
  margin-left: 5%;
}

.info__content p {
  margin: 45px 0 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.info__content .btn_white {
  border-radius: 5px;
  text-transform: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.tools {
  background-color: #eeecec;
}

.tools__container {
  padding: 0 5%;
}

.tools__top a {
  position: relative;
  color: #131313;
}

.tools__top a:hover {
  color: #131313;
}

.tools__top a:hover::before {
  content: none;
}

.tools__top {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.tools__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools__logo .logo img {
  margin-right: 10px;
  width: 34px;
}

.tools__logo a {
  font-weight: 700;
}

.tools__text {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  width: 400px;
}

.tools__text.active {
  -webkit-transform: translateY(50px) scale(1.5);
          transform: translateY(50px) scale(1.5);
}

.btn__close {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 1.3rem;
}

.tools__content {
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
  display: block;
}

.tools__content:not(.hide) {
  overflow: hidden;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.tools__content p {
  max-width: 600px;
}

.tools__content p.p-center:first-child {
  padding-top: 50px;
}

.p-center {
  text-align: center;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  margin: 10px auto;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 15px 0 0 0;
}

.item__desc {
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.tools__items {
  margin: 40px 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(430px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  gap: 20px;
  grid-auto-flow: row;
  justify-items: center;
}

.tools__item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 15px;
  max-width: 430px;
}

.item__card {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 250px;
  font-family: "Monda", sans-serif;
}

.item__card img {
  min-height: 100px;
  min-width: 100px;
  height: 100%;
  width: 100%;
}

.item__card img .img1 {
  max-width: 250px;
  max-height: 250px;
}

.btn-green {
  display: inline-block;
  background-color: #2d6a4f;
  color: #f6eded;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 0.8rem;
}

.btn-green:hover {
  background-color: #131313;
  color: #2d6a4f;
}

.btn-green:hover::before {
  content: none;
}

.card__desc {
  margin-left: 20px;
}

.card__desc p {
  line-height: 25px;
}

.card__container {
  background-color: white;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 250px;
  max-width: 430px;
  min-height: 250px;
}

.card__container.card1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__container.card2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 30px 30px;
}

.card__container.card2 span {
  display: block;
  font-size: 0.7rem;
  margin: 5px;
  color: #6a5353;
}

.card__radios {
  background-color: #eeecec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 40px;
}

.card__radios input[type="radio"] {
  display: none;
  margin: 10px;
}

.card__radios input[type="radio"] + label {
  border-radius: 40px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: #6a5353;
  margin: 10px;
  padding: 4px 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__radios input[type="radio"]:checked + label {
  color: #131313;
  background-image: none;
  background-color: white;
}

.card__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}

.card__inputs input {
  width: 50%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.card__inputs input:focus {
  outline: none;
}

.card__inputs input::-webkit-input-placeholder {
  color: #131313;
}

.card__inputs input:-ms-input-placeholder {
  color: #131313;
}

.card__inputs input::-ms-input-placeholder {
  color: #131313;
}

.card__inputs input::placeholder {
  color: #131313;
}

.card__inputs :last-child {
  text-align: end;
}

.card__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.card__select select {
  width: 45%;
  border: none;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.card__select select:focus {
  outline: none;
}

.possibility {
  background: url(../img/piano_bg.webp) no-repeat;
  background-size: cover;
}

.possibility__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6eded;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}

.possibility__content * {
  font-family: "Roboto", sans-serif;
}

.possibility__content p {
  max-width: 300px;
  margin: 15px 0;
}

.underline {
  margin-top: 20px;
}

.underline::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: -10%;
  height: 1px;
  width: 120%;
  background-color: #f6eded;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.underline:hover::before {
  background-color: #2d6a4f;
}

h2 {
  max-width: 300px;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 10px 0;
}

.features {
  background-color: #2d6a4f;
  color: #f6eded;
}

.features * {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.features__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.features__title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  max-width: 600px;
  margin-bottom: 20px;
}

.features__title p {
  max-width: 650px;
}

.features__container {
  padding: 30px 150px;
}

.features__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}

.features__item .features__item_img {
  background-color: #696969;
  position: relative;
  width: 45%;
}

.features__item .features__item_img img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.features__item .features__item_img img:hover {
  -webkit-transform: translate3d(-20px, -20px, 20px);
          transform: translate3d(-20px, -20px, 20px);
}

.features__item .features__item_img::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 50%;
  right: -13.8%;
  background-color: #f6eded;
  opacity: 1;
}

.features__item .features__item_img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  bottom: 0px;
  left: 0;
  background-color: #2d6a4f;
}

.features__item p {
  width: 45%;
}

.features__item p span {
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.features__item.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features__item.reverse .features__item_img {
  background-color: #343644;
}

.features__item.reverse .features__item_img img:hover {
  -webkit-transform: translate3d(20px, -20px, 20px);
          transform: translate3d(20px, -20px, 20px);
}

.features__item.reverse .features__item_img::before {
  left: -13.5%;
}

.features__item::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  height: 200%;
  width: 1px;
  background-color: #f6eded;
}

.features__item:last-child::before {
  height: 130%;
}

.features__item:last-child {
  margin-bottom: 10px;
}

.features__item:last-child .features__item_img {
  background-color: transparent;
}

.features__item:last-child .features__item_img img:hover {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.swiper__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  position: relative;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 0.9rem;
  top: 0%;
  left: 15%;
}

.swiper-pagination * {
  font-size: 0.9rem;
}

.swiper__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper__arrows * {
  color: transparent;
  position: relative;
  width: 60px;
}

.swiper-button-prev {
  background: url(../img/prev.svg) no-repeat center;
}

.swiper-button-next {
  background: url(../img/next.svg) no-repeat center;
}

.site {
  opacity: 0.35;
  border-bottom: 3px solid #f6eded;
  -webkit-transition: none;
  transition: none;
}

.site:hover {
  opacity: 1;
}

.site:hover::before {
  height: 3px;
}

.startPoint__container {
  padding: 0 50px 60px;
}

.startPoint__container img {
  width: 100%;
  height: 100%;
}

.startPoint_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 30px 0;
}

.startPoint_title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  max-width: 550px;
}

.startPoint_title p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  max-width: 600px;
  font-size: 1.2rem;
}

ol {
  list-style-type: decimal-leading-zero;
  padding: 0;
}

ol li {
  padding-left: 5px;
  margin: 30px;
  font-size: 1.1rem;
}

.howStart {
  background-color: black;
}

.howStart * {
  color: #f6eded;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.howStart__container {
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.howStart__list {
  max-width: 650px;
}

.howStart__title {
  margin-right: 50px;
}

.howStart__title h2 {
  font-size: 2.5rem;
  max-width: 450px;
  margin: 35px 0;
}

.howStart__title a {
  position: relative;
}

.howStart__title a::after {
  position: absolute;
  content: "";
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  top: 0;
  right: -80%;
  width: 50%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.howStart__title a:hover::after {
  background-image: url(../img/arrow-green.svg);
  right: -55%;
}

.price {
  font-family: "Roboto", sans-serif;
}

.price__container {
  padding: 30px 100px;
}

.price__title h2 {
  font-size: 3rem;
}

.price__title p {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0 0 30px;
  max-width: 330px;
}

.price__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
}

.price__radio .custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.price__radio .custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.price__radio .custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.price__radio .custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #c4c4c4;
}

.price__radio .custom-radio:focus:not(:checked) + label::before {
  border-color: #c4c4c4;
}

.price__radio .custom-radio:checked + label {
  position: relative;
}

.price__radio .custom-radio:checked + label::before {
  border-color: #c4c4c4;
  background-color: #c4c4c4;
  background-image: url(../img/dot.svg);
}

.price__radio .custom-radio:checked + label::after {
  position: absolute;
  width: 100%;
  color: #3586d1;
  font-size: 0.5rem;
  top: 40%;
  left: 80%;
}

.price__radio input[id="radio4"]:checked + label::after {
  content: "(Save up to 13%)";
}

.price__radio input[id="radio5"]:checked + label::after {
  content: "(Save up to 5%)";
}

.price__radio input[type="radio"] + label {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 4px 0;
  color: #c4c4c4;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.price__radio input[type="radio"]:checked + label {
  color: black;
  background-image: none;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:first-child {
  height: 120px;
}

table tr:first-child ~ tr {
  height: 60px;
}

table * {
  font-family: "Montserrat", sans-serif;
}

table tr :first-child {
  vertical-align: bottom;
}

table tr :first-child span {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 0.9em;
  display: inline-block;
  margin: 0 5px 10px;
}

table tr :first-child ~ th {
  vertical-align: top;
  font-size: 1.3rem;
  line-height: 30px;
}

table tr :first-child ~ th span.blue {
  display: block;
  line-height: 13px;
  color: #3586d1;
  font-size: 0.5em;
}

table th {
  font-weight: 600;
}

table th,
table td {
  border-bottom: 1px solid #c4c4c4;
  text-align: center;
}

table th.left,
table td.left {
  text-align: start;
  width: 30%;
}

.price__plan {
  padding: 30px 30px 0 0;
}

.plan__title {
  width: 100%;
}

.plan__title h2 {
  max-width: 560px;
  font-size: 2.5rem;
}

.plan__title .plan__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.plan-list {
  margin-left: 70px;
}

.plan-item {
  margin-bottom: 18px;
}

.support {
  background-color: #000000;
  color: white;
}

.support * {
  font-family: "Roboto", sans-serif;
}

.support h2 {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  max-width: 350px;
}

.support__question {
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support__question p {
  font-size: 1.1rem;
}

.question__items {
  margin-top: 20px;
  width: 50%;
}

.question__item {
  padding-left: 10px;
  position: relative;
  border-top: 1px solid white;
}

.question__item:last-child {
  border-bottom: 1px solid white;
}

.item-question {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-question p {
  padding-right: 10%;
}

.item-question::before {
  position: absolute;
  content: "+";
  font-size: 2rem;
  font-weight: 300;
  left: 95%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.item-question.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.question {
  display: inline-block;
}

.toggle-container {
  -webkit-transition: height 0.35s ease-in-out;
  transition: height 0.35s ease-in-out;
  overflow: hidden;
  padding: 0 20px;
}

.toggle-container p {
  font-size: 1rem;
}

.toggle-container:not(.active) {
  display: none;
}

.support-link__container {
  padding: 30px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support-link__container img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.support-link__text {
  margin-left: 100px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.support-link__text h2 {
  text-align: start;
  width: 90%;
}

.support-link__text a {
  margin-top: 10px;
}

.support-link__text a::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 100%;
  height: 1px;
  bottom: -1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.support-link__text a:hover::before {
  background-color: #18ad6a;
}

.trial {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 120px 10px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trial h2 {
  max-width: 720px;
  text-align: start;
}

.trial a {
  font-weight: 500;
}

footer {
  padding: 80px 50px 40px;
  background-color: black;
}

footer * {
  font-family: "Roboto", sans-serif;
  color: white;
}

footer span {
  text-align: end;
}

.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__about p {
  color: gray;
  margin: 30px 0 0 0;
  text-align: start;
  line-height: 25px;
  width: 100%;
}

.footer__about p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.9rem;
}

.footer__about p a:hover::before {
  content: none;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.footer__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  text-transform: uppercase;
  padding: 0;
}

.footer__container ul :first-child {
  margin-bottom: 20px;
}

.footer__container ul li {
  margin-bottom: 10px;
}

.footer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
}

.footer__input * {
  margin: 10px 0;
}

.footer__input select {
  background-color: #131212;
  border: none;
  height: 50px;
  max-width: 190px;
  min-width: 110px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-transform: uppercase;
  padding: 0 20px;
  background-image: url(../img/select.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.footer__input select:focus {
  outline: none;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .menu__links,
  .menu__login,
  .logo_text {
    display: none;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__menu_mobile {
    display: block;
  }
  .site:hover {
    border-color: #18ad6a;
  }
  .nav__burger {
    display: block;
    width: 100%;
    position: relative;
    z-index: 6;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
  }
  .nav__burger::before, .nav__burger::after {
    content: "";
    background-color: #f6eded;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }
  .nav__burger span {
    position: absolute;
    background-color: #f6eded;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .nav__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .tools__top {
    -ms-grid-columns: 1fr 250px 1fr;
        grid-template-columns: 1fr 250px 1fr;
  }
  .tools__text {
    font-size: 1.4rem;
  }
  .p-center {
    width: 90%;
  }
  .tools__items {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .item__card img {
    width: 100%;
    height: 100%;
  }
  .tools__content {
    -webkit-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }
  .tools__content:not(.hide) {
    -webkit-transition: height 1.2s ease;
    transition: height 1.2s ease;
  }
  .card__container img {
    width: 50%;
    height: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .btn-green {
    margin-top: 0px;
    padding: 10px 10px;
    font-size: 0.6rem;
    text-align: center;
  }
  .card__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
  }
  .card__desc p {
    margin: 5px 0;
    line-height: 15px;
    font-size: 0.8rem;
  }
  input[type="radio"] + label {
    font-size: 0.8rem;
  }
  .card__inputs {
    margin: 10px 0;
  }
  .card__inputs input {
    max-width: 50%;
  }
  .card__select {
    margin-bottom: 10px;
  }
  .possibility {
    background-position: center;
  }
  .possibility__content {
    width: 90%;
  }
  h2 {
    width: 90%;
    font-size: 3rem;
    font-weight: 400;
    margin: 10px 0;
  }
  .features__container {
    padding: 20px 5px;
  }
  .features__container *::before {
    content: none !important;
  }
  .features__title {
    margin: 0 auto;
    width: 90%;
  }
  .features__title h2 {
    width: 100%;
    font-size: 2.5rem;
  }
  .features__title p {
    width: 100%;
  }
  .features__item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin: 50px 0;
  }
  .features__item .features__item_img,
  .features__item p {
    width: 90%;
  }
  .features__item .features__item_img {
    background-color: transparent;
  }
  .features__item .features__item_img img {
    cursor: default;
  }
  .features__item .features__item_img img:hover {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
  }
  .swiper-container {
    width: 100%;
  }
  .yoga {
    text-align: center;
  }
  .startPoint__container {
    padding: 10px 20px;
  }
  .startPoint_title {
    margin: 20px 0;
  }
  .startPoint_title h2 {
    font-size: 2rem;
  }
  .startPoint_title p {
    font-size: 1.1rem;
    width: 100%;
  }
  .howStart__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 20px;
  }
  .howStart__title h2 {
    font-size: 2.5rem;
    width: 100%;
    margin: 35px 0;
  }
  .howStart__title a {
    margin-left: 20px;
  }
  .price__container {
    padding: 20px 10px;
  }
  .price__title h2 {
    font-size: 2.5rem;
  }
  .price__title p {
    width: 100%;
  }
  table tr :first-child {
    font-size: 0.8rem;
  }
  table tr :first-child ~ th {
    font-size: 1rem;
    line-height: 20px;
  }
  table tr :first-child ~ th span.blue {
    font-size: 0.7em;
  }
  .price__plan {
    padding: 30px 5px 0px;
  }
  .plan__title h2 {
    font-size: 2rem;
  }
  .plan__title .plan__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .plan-list {
    padding: 0;
    margin: 20px 0;
  }
  .price__radio {
    margin-bottom: 10px;
  }
  .support h2 {
    width: 100%;
  }
  .question__items {
    padding: 0 10px;
    width: 100%;
  }
  .item-question::before {
    left: 92%;
  }
  .support-link__container {
    padding: 0px 20px 40px;
  }
  .support-link__container img {
    display: none;
  }
  .support-link__text {
    width: 100%;
    margin: 0;
  }
  .trial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .trial h2 {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  footer {
    padding: 30px 20px;
  }
  .footer__container {
    -ms-grid-columns: (minmax(90px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    row-gap: 35px;
  }
  .footer__container ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__container ul * {
    font-size: 0.9rem;
  }
  .footer__container ul a:hover::before {
    content: none;
  }
  .footer__input {
    font-size: 1rem;
  }
  .footer__input select {
    padding: 0 10px;
  }
  .footer__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__about p:last-child {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 310px) {
  .price__table {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */