@import url("./normalize.css");
@import "_variables";

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

header,
section,
footer {
  padding: 0 calc(50% - 800px);
  overflow: hidden;
}

a {
  width: fit-content;
  text-decoration: none;
  color: $white;
  font-family: $mitr;
  font-weight: 400;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  &:hover {
    color: $hover-green;
    &::before {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $hover-green;
    }
  }
  &.logo {
    z-index: 5;
    &:hover {
      color: $white;
      &::before {
        content: none;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 25px;
    z-index: 5;

    width: 100%;
    height: 100%;
  }

  a {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 1.2em;
  }
}

ul {
  list-style: none;
}
header {
  background: url(../img/intro_bg.webp) no-repeat;
  background-position: top 60% left 10%;
  background-size: cover;
}

.header {
  color: $white;
  &::before {
    position: absolute;
    content: "";
    background-color: $black;
    height: 75px;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.header__nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black;
  text-transform: uppercase;
  height: 75px;
  padding: 0 30px;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  transition: all 0.4s ease;
  &.is-scroll {
    height: 60px;
    box-shadow: 0 2px 10px #222;
  }
}

.menu__links {
  justify-self: center;
  width: 100%;
  max-width: 410px;
}

.list-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 5px;
  a {
    &:hover {
      &::before {
        bottom: 0px;
      }
    }
  }
}
.menu__login {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 240px;
  :hover {
    &::before {
      content: none;
    }
  }
}

.btn_white {
  background-color: $white;
  color: $black;
  padding: 10px 15px;
  &:hover {
    background-color: $green;
    color: $white;
    &::before {
      content: none;
    }
  }
}

.nav__menu_mobile {
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: $black;
  padding: 70px 0 0 0;
  transition: all 0.3s ease;
  overflow: auto;
  &.active {
    left: 0;
  }
  .list-menu {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    .menu-item {
      margin: 15px 0;
    }
  }
}

.nav__burger {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-family: $montserrat;
  font-weight: 600;
  margin: 20px 0;
  font-size: 2.8rem;
}

.intro {
  height: 720px;
}
.intro__info {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5%;
}
.info__links {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 20px;
  :first-child {
    margin-right: 40px;
  }
}
.info__content {
  margin-left: 5%;
  p {
    margin: 45px 0 60px;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 1rem;
  }
  .btn_white {
    border-radius: 5px;
    text-transform: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}

.tools {
  background-color: $ligth-gray;
}
.tools__container {
  padding: 0 5%;
}
.tools__top a {
  color: $black;
  &:hover {
    color: $black;
    &::before {
      content: none;
    }
  }
}

.tools__top {
  padding: 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.tools__logo {
  display: flex;
  .logo img {
    margin-right: 10px;
  }
  a {
    font-weight: 700;
  }
}
.tools__text {
  justify-self: center;
  font-family: $mitr;
  font-weight: 400;
  font-size: 2rem;
  transition: all 0.5s ease;
}
.tools__text.active {
  transform: translateY(50px) scale(1.5);
}
.btn__close {
  justify-self: end;
  font-size: 1.3rem;
}

.tools__content {
  transition: height 0.6s ease;
  display: block;
  &:not(.hide) {
    overflow: hidden;
    transition: height 0.6s ease;
  }
}
.tools__content {
  p.p-center:first-child {
    padding-top: 50px;
  }
}
.p-center {
  text-align: center;
  font-family: $mitr;
  font-weight: 300;
  font-size: 1.1rem;
  width: 50%;
  margin: 10px auto;
}
h3 {
  font-family: $roboto;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 15px 0 0 0;
}
.item__desc {
  margin: 10px 0;
  font-family: $montserrat;
  font-weight: 400;
}
.tools__items {
  margin: 40px 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
.tools__item {
  margin: 0 15px;
  grid-auto-flow: row;
}
.item__card {
  max-width: 500px;
  max-height: 250px;

  font-family: $monda;
  img {
    height: 100%;
    width: 100%;
  }
}
.btn-green {
  display: inline-block;
  background-color: $green;
  color: $white;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 0.8rem;
  &:hover {
    background-color: $black;
    color: $green;
    &::before {
      content: none;
    }
  }
}
.card__desc {
  margin-left: 20px;
  p {
    line-height: 25px;
  }
}
.card__container {
  background-color: white;
  padding: 20px 30px;
  display: flex;
  max-height: 250px;
  max-width: 430px;
  &.card2 {
    flex-direction: column;
    padding: 30px 30px;
    span {
      display: block;
      font-size: 0.7rem;
      margin: 5px;
      color: $brown;
    }
  }
}

// change radiobutton
.card__radios {
  background-color: $ligth-gray;
  display: flex;
  justify-content: space-around;
  border-radius: 40px;
  input[type="radio"] {
    display: none;
    margin: 10px;
  }

  input[type="radio"] + label {
    border-radius: 40px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: $brown;
    margin: 10px;
    padding: 4px 0;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  input[type="radio"]:checked + label {
    color: $black;
    background-image: none;
    background-color: white;
  }
}

// end

.card__inputs {
  display: flex;
  margin: 25px 0;
  input {
    width: 50%;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.45);
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $black;
    }
  }
  :last-child {
    text-align: end;
  }
}

.card__select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  select {
    width: 45%;
    border: none;
    background-color: white;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.45);
    &:focus {
      outline: none;
    }
  }
}

// **** possibility
.possibility {
  background: url(../img/piano_bg.webp) no-repeat;
  background-size: cover;
}
.possibility__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  width: 40%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  * {
    font-family: $roboto;
  }
  p {
    margin: 15px 0;
  }
}
.underline {
  margin-top: 20px;
  &::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: -10%;
    height: 1px;
    width: 120%;
    background-color: $white;
    transition: all 0.3s ease;
  }
  &:hover {
    &::before {
      background-color: $green;
    }
  }
}
h2 {
  width: 50%;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 10px 0;
}
// ****features

.features {
  background-color: $green;
  color: $white;
  * {
    font-family: $roboto;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
.features__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2 {
    font-family: $montserrat;
    font-size: 3rem;
    width: 45%;
    margin-bottom: 20px;
  }
  p {
    width: 55%;
  }
}
.features__container {
  padding: 30px 150px;
}
.features__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;

  .features__item_img {
    background-color: #696969;
    position: relative;
    width: 45%;
    img {
      cursor: pointer;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
      &:hover {
        transform: translate3d(-20px, -20px, 20px);
      }
    }
    &::before {
      position: absolute;
      content: "";
      height: 40px;
      width: 40px;
      border-radius: 50%;
      top: 50%;
      right: -14.8%;
      background-color: $white;
      opacity: 0.8;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      bottom: 0px;
      left: 0;
      background-color: $green;
    }
  }
  p {
    width: 45%;
    span {
      display: block;
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  }
  &.reverse {
    flex-direction: row-reverse;
    .features__item_img {
      background-color: #343644;
      img {
        &:hover {
          transform: translate3d(20px, -20px, 20px);
        }
      }
      &::before {
        left: -14.5%;
      }
    }
  }
  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    height: 200%;
    width: 1px;
    background-color: $white;
  }
  &:last-child {
    &::before {
      height: 130%;
    }
  }
}
.features__item {
  &:last-child {
    margin-bottom: 10px;
    .features__item_img {
      background-color: transparent;
      img {
        &:hover {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.swiper__items {
  display: flex;
  height: 20px;
  position: relative;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  * {
    font-size: 0.9rem;
  }
  position: relative;
  font-size: 0.9rem;
  top: 0%;
  left: 15%;
}
.swiper__arrows {
  display: flex;
  * {
    color: transparent;
    position: relative;
    width: 60px;
    // margin-top: 0;
  }
}
.swiper-button-prev {
  background: url(../img/prev.svg) no-repeat center;
}
.swiper-button-next {
  background: url(../img/next.svg) no-repeat center;
}

.site {
  opacity: 0.35;
  border-bottom: 3px solid $white;
  transition: none;
  &:hover {
    opacity: 1;
    &::before {
      height: 3px;
    }
  }
}

.startPoint__container {
  padding: 30px 50px;
  img {
    width: 100%;
    height: 100%;
  }
}
.startPoint_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  h2 {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 2.5rem;
  }
  p {
    font-family: $roboto;
    font-weight: 500;
    width: 50%;
    font-size: 1.2rem;
  }
}
// getStart
ol {
  list-style-type: decimal-leading-zero;
  padding: 0;
  li {
    padding-left: 5px;
    margin: 30px;
    font-size: 1.1rem;
  }
}
.howStart {
  background-color: black;
  * {
    color: $white;
    font-family: $montserrat;
    font-weight: 600;
  }
}
.howStart__container {
  padding: 40px 130px;
  display: flex;
}
.howStart__title {
  h2 {
    font-size: 2.5rem;
    width: 70%;
    margin: 35px 0;
  }
  a {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../img/arrow.svg);
      background-repeat: no-repeat;
      top: 0;
      right: -80%;
      width: 50%;
      height: 100%;
      transition: all 0.3s ease;
    }
    &:hover {
      &::after {
        background-image: url(../img/arrow-green.svg);
        right: -55%;
      }
    }
  }
}

.price {
  font-family: $roboto;
}
.price__container {
  padding: 30px 100px;
}
.price__title {
  h2 {
    font-size: 3rem;
  }
  p {
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0 0 30px;
    width: 20%;
  }
}
.price__radio {
  display: flex;
  flex-direction: column;
  font-family: $montserrat;
  font-weight: 500;
  position: relative;
  // ********

  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .custom-radio + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $table-gray;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: $table-gray;
  }

  .custom-radio:focus:not(:checked) + label::before {
    border-color: $table-gray;
  }

  .custom-radio:checked + label {
    position: relative;
  }
  .custom-radio:checked + label::before {
    border-color: $table-gray;
    background-color: $table-gray;
    background-image: url(../img/dot.svg);
  }
  .custom-radio:checked + label::after {
    position: absolute;
    width: 100%;
    color: $blue;

    font-size: 0.5rem;
    top: 40%;
    left: 80%;
  }
  input[id="radio4"]:checked + label::after {
    content: "(Save up to 13%)";
  }
  input[id="radio5"]:checked + label::after {
    content: "(Save up to 5%)";
  }

  // ********
  input[type="radio"] + label {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 4px 0;
    color: $table-gray;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  input[type="radio"]:checked + label {
    color: black;
    background-image: none;
    background-color: white;
  }
}
table {
  tr:first-child {
    height: 120px;
    & ~ tr {
      height: 60px;
    }
  }

  width: 100%;
  * {
    font-family: $montserrat;
  }
  tr {
    :first-child {
      vertical-align: bottom;
      span {
        color: $table-gray;
        font-weight: 500;
        font-size: 0.9em;
        display: inline-block;
        margin: 0 5px 10px;
      }
      & ~ th {
        vertical-align: top;
        font-size: 1.3rem;
        line-height: 30px;
        span.blue {
          display: block;
          line-height: 13px;
          color: $blue;
          font-size: 0.5em;
        }
      }
    }
  }
  th {
    font-weight: 600;
  }
  th,
  td {
    border-bottom: 1px solid $table-gray;
    text-align: center;
    &.left {
      text-align: start;
      width: 30%;
    }
  }
  border-collapse: collapse;
}
.price__plan {
  padding: 30px 30px 0 0;
}
.plan__title {
  width: 100%;
  h2 {
    font-size: 2.5rem;
  }
  .plan__desc {
    display: flex;
    justify-content: flex-end;
  }
}
.plan-list {
  margin-left: 70px;
}
.plan-item {
  margin-bottom: 18px;
}
// *****
.support {
  background-color: #000000;
  color: white;
  * {
    font-family: $roboto;
  }
  h2 {
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    width: 30%;
  }
}
.support__question {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 1.1rem;
  }
}
.question__items {
  margin-top: 20px;
  width: 50%;
}
.question__item {
  padding-left: 10px;
  position: relative;
  border-top: 1px solid white;
  &:last-child {
    border-bottom: 1px solid white;
  }
}
.item-question {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;

  p {
    padding-right: 10%;
  }
  &::before {
    position: absolute;
    content: "+";
    font-size: 2rem;
    font-weight: 300;
    left: 95%;
    transition: all 0.2s ease;
  }
  &.active {
    &::before {
      transform: rotate(45deg);
    }
  }
}
.question {
  display: inline-block;
}
.toggle-container {
  transition: height 0.35s ease-in-out;
  overflow: hidden;
  padding: 0 20px;
  p {
    font-size: 1rem;
  }
}
.toggle-container:not(.active) {
  display: none;
}

.support-link__container {
  padding: 30px 15%;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    max-width: 400px;
  }
}
.support-link__text {
  margin-left: 100px;
  width: 40%;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: start;
    width: 90%;
  }
  a {
    margin-top: 10px;
    &::before {
      position: absolute;
      content: "";
      background-color: white;
      width: 100%;
      height: 1px;
      bottom: -1px;
      transition: all 0.3s ease;
    }
    &:hover {
      &::before {
        background-color: $hover-green;
      }
    }
  }
}
.trial {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 120px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    width: 60%;
    text-align: start;
  }
  a {
    font-weight: 500;
  }
}

footer {
  padding: 80px 50px 40px;

  background-color: black;
  * {
    font-family: $roboto;
    color: white;
  }

  span {
    text-align: end;
  }
}

.footer__about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  p {
    color: gray;
    margin: 30px 0 0 0;
    text-align: start;
    line-height: 25px;
    width: 100%;
    &:last-child {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 0.9rem;
    }
    a {
      &:hover {
        &::before {
          content: none;
        }
      }
    }
  }
}
.footer__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  row-gap: 50px;
  column-gap: 30px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-transform: uppercase;
    padding: 0;
    :first-child {
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 10px;
    }
  }
}

.footer__input {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  * {
    margin: 10px 0;
  }
  select {
    background-color: #131212;
    border: none;
    height: 50px;
    max-width: 190px;
    width: 100%;
    appearance: none;
    text-transform: uppercase;
    padding: 0 20px;
    background-image: url(../img/select.svg);
    background-repeat: no-repeat;
    background-position: center right;
    &:focus {
      outline: none;
    }
  }
}

@import "max-width768";
