@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&family=Monda&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap");
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

header,
section,
footer {
  padding: 0 calc(50% - 800px);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f6eded;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
}

a:hover {
  color: #18ad6a;
}

a:hover::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #18ad6a;
}

a.logo {
  z-index: 5;
}

a.logo:hover {
  color: #f6eded;
}

a.logo:hover::before {
  content: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-right: 25px;
  z-index: 5;
}

.logo a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

ul {
  list-style: none;
}

header {
  background: url(../img/intro_bg.webp) no-repeat;
  background-position: top 60% left 10%;
  background-size: cover;
}

.header {
  color: #f6eded;
}

.header::before {
  position: absolute;
  content: "";
  background-color: #131313;
  height: 75px;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.header__nav {
  z-index: 3;
  position: relative;
  background-color: #131313;
  text-transform: uppercase;
  height: 75px;
  padding: 0 30px;
  font-size: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__links {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  max-width: 410px;
}

.list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 5px;
}

.menu-item a:hover::before {
  bottom: 0px;
}

.menu__login {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 240px;
}

.menu__login :hover::before {
  content: none;
}

.btn_white {
  background-color: #f6eded;
  color: #131313;
  padding: 10px 15px;
}

.btn_white:hover {
  background-color: #2d6a4f;
  color: #f6eded;
}

.btn_white:hover::before {
  content: none;
}

.nav__menu_mobile {
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #131313;
  padding: 70px 0 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: auto;
}

.nav__menu_mobile.active {
  left: 0;
}

.nav__menu_mobile .list-menu {
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu_mobile .list-menu .menu-item {
  margin: 15px 0;
}

.nav__burger {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 20px 0;
  font-size: 2.8rem;
}

.intro {
  height: 720px;
}

.intro__info {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
}

.info__links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.info__links :first-child {
  margin-right: 40px;
}

.info__content {
  margin-left: 5%;
}

.info__content p {
  margin: 45px 0 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.info__content .btn_white {
  border-radius: 5px;
  text-transform: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.tools {
  background-color: #eeecec;
}

.tools__container {
  padding: 0 5%;
}

.tools__top a {
  color: #131313;
}

.tools__top a:hover {
  color: #131313;
}

.tools__top a:hover::before {
  content: none;
}

.tools__top {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.tools__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools__logo .logo img {
  margin-right: 10px;
}

.tools__logo a {
  font-weight: 700;
}

.tools__text {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tools__text.active {
  -webkit-transform: translateY(50px) scale(1.5);
          transform: translateY(50px) scale(1.5);
}

.btn__close {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 1.3rem;
}

.tools__content {
  padding-top: 50px;
  display: block;
}

.tools__content.hide {
  display: none;
}

.p-center {
  text-align: center;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  width: 50%;
  margin: 10px auto;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 15px 0 0 0;
}

.item__desc {
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.tools__items {
  margin: 40px 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}

.tools__item {
  margin: 0 15px;
  grid-auto-flow: row;
}

.item__card {
  max-width: 500px;
  max-height: 250px;
  font-family: "Monda", sans-serif;
}

.item__card img {
  max-height: 250px;
}

.btn-green {
  display: inline-block;
  background-color: #2d6a4f;
  color: #f6eded;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 0.8rem;
}

.btn-green:hover {
  background-color: #131313;
  color: #2d6a4f;
}

.btn-green:hover::before {
  content: none;
}

.card__desc {
  margin-left: 20px;
}

.card__desc p {
  line-height: 25px;
}

.card__container {
  background-color: white;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 250px;
  max-width: 430px;
}

.card__container.card2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px;
}

.card__container.card2 span {
  display: block;
  font-size: 0.7rem;
  margin: 5px;
  color: #6a5353;
}

.card__radios {
  background-color: #eeecec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 40px;
}

input[type="radio"] {
  display: none;
  margin: 10px;
}

input[type="radio"] + label {
  border-radius: 40px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: #6a5353;
  margin: 10px;
  padding: 4px 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="radio"]:checked + label {
  color: #131313;
  background-image: none;
  background-color: white;
}

.card__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}

.card__inputs input {
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.card__inputs input:focus {
  outline: none;
}

.card__inputs input::-webkit-input-placeholder {
  color: #131313;
}

.card__inputs input:-ms-input-placeholder {
  color: #131313;
}

.card__inputs input::-ms-input-placeholder {
  color: #131313;
}

.card__inputs input::placeholder {
  color: #131313;
}

.card__inputs :last-child {
  text-align: end;
}

.card__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.card__select select {
  width: 45%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.card__select select:focus {
  outline: none;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .menu__links,
  .menu__login,
  .logo_text {
    display: none;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__menu_mobile {
    display: block;
  }
  .nav__burger {
    display: block;
    width: 100%;
    position: relative;
    z-index: 6;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
  }
  .nav__burger::before, .nav__burger::after {
    content: "";
    background-color: #f6eded;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }
  .nav__burger span {
    position: absolute;
    background-color: #f6eded;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .nav__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .tools__top {
    -ms-grid-columns: 1fr 250px 1fr;
        grid-template-columns: 1fr 250px 1fr;
  }
  .tools__text {
    font-size: 1.4rem;
  }
  .p-center {
    width: 90%;
  }
  .tools__items {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .item__card img {
    max-width: 300px;
  }
  .card__container img {
    max-width: 50%;
    height: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .btn-green {
    margin-top: 5px;
    font-size: 0.6rem;
  }
  .card__desc {
    margin-left: 10px;
  }
  .card__desc p {
    line-height: 15px;
    font-size: 0.8rem;
  }
  input[type="radio"] + label {
    font-size: 0.8rem;
  }
  .card__inputs {
    margin: 10px 0;
  }
  .card__inputs input {
    max-width: 50%;
  }
  .card__select {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */